<!doctype html>
<html lang="en">
<head>
    <title>New Post</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../stylesheets/story.css">
    <script src="../javascripts/idb.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/popper.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <link href="../stylesheets/font-awesome.all.css" rel="stylesheet"/>
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"-->
          <!--integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">-->
    <script src="../javascripts/database.js"></script>
    <script src="../javascripts/story.js"></script>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header" id="new-post-title">
            New Post
        </div>
        <div class="card-body">
            <div class="form-container">
                <form id="post-form">
                    <div class="form-group">
                        <label for="story-title">Title</label>
                        <input name="title" type="text" class="form-control" id="story-title"
                               placeholder="Oh my god I got a picture with Justin!">
                    </div>
                    <div class="form-group">
                        <label for="story-message">Message</label>
                        <textarea name="message" class="form-control" id="story-message" rows="5"
                                  placeholder="What happened at the event?"></textarea>
                        <button type="button" class="btn btn-secondary btn-sm mt-1" data-toggle="modal"
                                data-target="#photo-modal" id="camera">
                            <span class="p-2 fas fa-camera"></span>
                        </button>

                        <button type="button" class="btn btn-primary float-right mt-1" id="story-submit">Post</button>
                    </div>
                </form>
                <div class="accordion mb-2" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne" data-toggle="collapse"
                             data-target="#collapsePictures" aria-expanded="true" aria-controls="collapsePictures">
                            Pictures
                        </div>

                        <div id="collapsePictures" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <ul class="list-group">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="photo-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <video playsinline autoplay class="img-fluid"></video>
                    <canvas class="img-fluid"></canvas>
                </div>
                <div class="d-flex justify-content-center p-2">
                    <button type="button" class="btn btn-primary" id="picture-snapshot-button">Take Picture</button>
                    <button type="button" class="btn btn-secondary btn-retry mr-1" id="picture-retry-button">
                        <span class="fas fa-undo"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-retry" id="picture-save-button"
                            data-dismiss="modal">Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>