<!DOCTYPE html>
<html>
<head>
</head>
<script src="socket.io/socket.io.js"></script>
<script src="javascripts/chatroom.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/global.css">
<link rel="stylesheet" type="text/css" href="stylesheets/chat.css">

<body>
<div id="chat"></div>
<form id="sendButton" action="" onsubmit="return sendText()">
    <input id="text" autocomplete="off" autofocus/><button id="sndButton">Send</button>
</form>
</body>
</html>