<!DOCTYPE html>
<html>
    <head>
        <div hidden id="myUsers"><%=myUsers%></div>
        <div hidden id="myEvents"><%=myEvents%></div>
        <div hidden id="myStories"><%=myStories%></div>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtkVaQQ-hy0m53VOZQBTw9Dy9h7wX3qBE"></script>
        <script type="text/javascript" src="javascripts/map.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/map.css">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <title>Map</title>
    </head>

    <body>
        <div id="map-canvas"></div>
    </body>
</html>