<!DOCTYPE html>
<html>
<head>
    <div hidden id="myUsers"><%= myUsers %></div>
    <div hidden id="myEvents"><%= myEvents %></div>
    <div hidden id="myStories"><%= myStories %></div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdvf6vOrtY0SZYrqijcC4BkoL3HMqvy5I"></script>
    <script type="text/javascript" src="javascripts/map.js"></script>
    <script src="../javascripts/database.js"></script>
    <script src="../javascripts/idb.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/map.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>Map</title>
</head>

<body>
<div class="input-group">
    <input type="text" class="form-control" placeholder="keyword, date, location" id="event-search-bar"
           aria-label="search bar" aria-describedby="event-search-button">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="event-search-button">Search</button>
    </div>
</div>

<div id="map-canvas"></div>

<!-- Modal -->
<div class="modal fade" id="myEventModal" tabindex="-1" role="dialog" aria-labelledby="myEventModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myEventModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="myevent-profile-picture">
            </div>
            <div class="accordion mb-2" id="myEventPicturesAccordion">
                <div class="card">
                    <div class="card-header" id="headingOne" data-toggle="collapse"
                         data-target="#collapseMyEventPictures" aria-expanded="false" aria-controls="collapsePictures">
                        See more...
                    </div>

                    <div id="collapseMyEventPictures" class="collapse" aria-labelledby="headingOne"
                         data-parent="#myEventPicturesAccordion">
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal-body">
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    Stories
                    <form method="get" action="/story/new" id="new-story-form">
                        <button name="event-id" class="btn btn-primary float-right">Add Story</button>
                    </form>
                </li>
                <div id="story-div">

                </div>
            </ul>
        </div>
    </div>
</div>
</body>
</html>