<!doctype html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="stylesheets/google.parent-marker.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-3.3.1.min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/idb.js"></script>
    <script src="javascripts/database.js"></script>
    <script src="javascripts/index.js"></script>
    <script src="javascripts/settings.js"></script>

</head>
<body onload="closeForm(<%=username%> , <%=bio%>)">
<div class="container">
    <div class="d-flex justify-content-center bg">
            <form id='accountForm' action="/editaccount" method="POST">
                <h1>My account</h1>
                <div class="form-group">

                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp">
                </div>

                <div class="form-container">
                    <button type="button" id = "changePassword" class="btn btn-primary" onclick="openForm()">Change password</button>

                    <div class="form-popup" id="myForm">
                        <form id="passwordForm">

                            <div class="form-group">
                                <label for="old password">Current</label>
                                <input type="password" class="form-control" name="current" id="current">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">New</label>
                                <input type="password" class="form-control" name="new" id="new">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Retype new</label>
                                <input type="password" class="form-control" name="retypenew" id="retypenew">
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="button" id="change" class="btn btn-primary">Change</button>
                            </div>
                        </form>
                    </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Bio</label>
                    <input type="text" class="form-control" name="bio" id="bio">
                </div>

                <div class="d-flex justify-content-center">
                    <button type="button" id="save" class="btn btn-primary">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>